<!-- Footer -->
<footer class="wrapper style1 align-center" style="color3" id="contact">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="icon style2 solid fa-envelope"><span class="label">Email</span></a></li>{{end}}
            {{ with .Site.Params.social.linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
            {{ with .Site.Params.social.github }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
        </ul>
        <p>Nigel Swab &copy; {{ .Date.Year }}</p>
</div>
</footer>