<footer class="site-footer color2" style=" padding-top: 1%">
  {{ if .IsHome }}
  <div class="container">
  {{ else }}
  <div class="article-container">
  {{ end }}
    <div class="row align-items-center">
      <div class="col-md-4 mb-4 mb-md-3">
        {{ with site.GetPage "privacy.md" }}
        <p class="powered-by">
          {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
        </p>
        {{ end }}
        <p class="mb-0">
          {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} {{ end }}
        </p>
      </div>
      <div class="col-md-4 mb-4 mb-md-3 text-center">

        <a href="tel:{{ with site.Params.phone_ref }}{{ . }}{{ end }}">
          {{ with site.Params.phone }}{{ . }}{{ end }}
        </a><br>
        <a href="mailto:{{ with site.Params.email }}{{ . }}{{ end }}">
          {{ with site.Params.email }}{{ . }}{{ end }}
        </a>

      </div>
      <div class="col-md-4">
        <ul class="list-inline network-icon text-right mb-3">
          {{/* Social links. */}}
          {{ range site.Params.social_links }}
          {{ $pack := or .icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
          {{ end }}
          {{ $link := .link }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "target='_blank'" }}
          {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" " }}
          {{ end }}
          <li class="list-inline-item">
            <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} title="{{.name}}"><i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}" aria-hidden="true"></i></a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
